<!DOCTYPE html>
<html>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.welcome {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgb(71, 31, 247);
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}



.middle {
  position: absolute;
  color: rgb(6, 5, 7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
</style>
<body>

<div class="welcome">
  <div class="middle">
    <h1>Academic Twiiter Bot</h1>
    <hr>
    <p>Press the button to continue</p>
  </div>
</div>

</body>
</html>
