<!DOCTYPE html>
<html>
<style>
button {
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  color: rgb(63, 10, 209);
  background-color: #4f0fe4;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #33d3f0}

.button:active {
  background-color: #33d3f0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.middle {
  position: absolute;
  color: rgb(6, 5, 7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  font-size: 60px;
}
hr {
  background-color: rgb(0, 0, 0);
  height: 3px;
  margin: auto;
  width: 70%;
}

body {
    background: linear-gradient(to right, transparent, mistyrose),  rgb(64, 43, 255);  
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

</style>
<body>
<form action="/Post" method="get">
  <div class="middle">
    <h1>Academic Twitter Bot</h1>
    <hr>
    <p id="demo">  </p>
    <input class="button" type="submit" value="Press the button to continue">
  </div>
</form>
 
</body>
</html>

